.page {
  background-color: #fff;
  color: #222;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 80px;
  height: 80vh;
  margin: auto;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #222;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #222;
    color: #fff;
  }
  .button {
    background-color: #fff;
    color: #222;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
}
